---
layout: page
title: Classic Papers
order: 2
permalink: /classic_papers/
description: I maintain a mirror of some classic papers because the originals tend to be not well formatted for the modern web.
---

<p>I maintain a mirror of some classic papers because the originals
    tend to be not well formatted for the modern web.</p>

{% assign sorted_posts = site.posts | sort:'published' %}
<ul class='archive'>
    {% for post in sorted_posts %}
    {% if post.category == 'classic_papers' %}
    <li>
        <span class="post-date"> {{post.published | date: "%Y"}}, </span>
        <span class="post-author"> {{post.author | trim}}, </span>
        <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<p>Turing Award Lectures which summarizes ideas of the pioneers of computing</p>

<ul class='archive'>
    {% for post in sorted_posts %}
    {% if post.category == 'project_turing' %}
    <li>
        <span class="post-date"> {{post.published | date: "%Y"}}, </span>
        <span class="post-author"> {{post.author | trim}}, </span>
        <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>