---
layout: page
title: Classic Papers
order: 2
permalink: /classic_papers/
description: I maintain a mirror of some classic papers because the originals tend to be not well formatted for the modern web.
---

<p>I maintain a mirror of some classic papers because the originals
    tend to be not well formatted for the modern web. I also add my notes and higlights.</p>

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
<h2>{{ tag[0]}}</h2>
<ul class='archive'>
    {% assign sorted_posts = tag[1] | sort:'published' %}
    {% for post in sorted_posts  %}
    {% if post.category == 'classic_papers' or post.category == 'project_turing' %}
    <li>
        <span class="post-date"> {{post.published | date: "%Y"}}, </span>
        <span class="post-author"> {{post.author | trim}}, </span>
        <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="small" style="width: 100%;">{{post.notes | markdownify}}</div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
