<footer class="site-footer">
	<script type="text/x-mathjax-config"> 
		MathJax.Hub.Config({
			styles: {
				".MathJax_Display": {width: '55% ! important'}
			},
			tex2jax: {
				inlineMath: [ ['$','$'], ["\\(","\\)"] ],
				displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
				processEscapes: true
			},
		});
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<script type="text/javascript">
		function disableHighlight() {
			const style = document.createElement('style');
			style.textContent = `
				mark, span.mark {
					background: none;
				}`;
			document.head.append(style);
			console.log('highlight disabled')
		}
		function darkMode() {
			var element = document.body;
			element.classList.toggle("dark-mode");
		}
	</script>
   <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
</footer>
