<footer class="site-footer">
	<script type="text/x-mathjax-config"> 
		MathJax.Hub.Config({
			styles: {
				".MathJax_Display": {width: '55% ! important'}
			},
			tex2jax: {
				inlineMath: [ ['$','$'], ["\\(","\\)"] ],
				displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
				processEscapes: true
			},
		});
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<script type="text/javascript" src="/assets/site.js"></script>
   <!-- <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section> -->
</footer>
