@charset "UTF-8";

article.post-container{
	padding: 0;
}

p.description{
    /*color: #666;*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.description a{
	background: none;
}

h1.title{
	margin-top: 1rem; 
}

blockquote p{
    font-size: 2rem;
    line-height: 2.5rem;
    color: #4949FD;
}

.small p {
    font-size: 1rem;
    line-height: 1rem;
}