@charset "UTF-8";

article.post-container{
	padding: 0;
}

p.description{
    /*color: #666;*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.description a{
	background: none;
}

h1.title{
	margin-top: 1rem; 
}

blockquote p{
    font-size: 1.7rem;
    line-height: 2rem;
    color: #2373BE;
}

.small p, .small li {
    font-size: 1rem;
    line-height: 1rem;
}

// https://www.w3schools.com/howto/howto_css_responsive_iframes.asp

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 55%;
    padding-top: 29%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }


p code{
  color: #d9534f;
}

mark {
    background: rgba(255, 255, 0, 0.2);
}

// Moved from old css
// 5d445c5e0f118b23ed71549343f02315112fe6ab
// 041f940eab653b6b07e0048ac265fb1ec3cc3257
td, th {
    padding: 7px 3px 6px;
    border-collapse: collapse;
    border-bottom: 2px solid #eee;
}

th {
    font-weight: bold;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom-width: 3px;
}

// f632824babc8be44ace5ba5a5bb0565a77ba2ff3
.MathJax_Display {
    font-size: 1.4rem;
}
  
// 020867804592d3932efa20c4536650be18e50e06
hr{
    width: 55%;
    margin-left:0;  
    text-align:left;
}

ol, ul { width: 50%;}

// 991599424a97c80aefe959949e67dada242d4f94
.sidenote, .marginnote {
    margin-bottom: 20px;
}

// 61e435824e32c27c94ec93c9b29cfb2f693002a1
@media screen and (max-width: 760px) {
    p, h1, h2, h3, footer { width: 95%; }
    figure { max-width: 95%; }
    body {width: 95%; padding-left: 5%}
}

// b8d8874aac4d6a5bfb81a66c45c35943f9888934
// 8d4eb9206a1885e05da04cdb26fa6a8716aa1c4a
h2, h1 { width: 55%; }